#header{
   background-color: #242B2E;
}
#error{
   display: none;
}
#singleDetails{
   width: 40%;
}

@media (max-width: 768px){
   #singleDetails{
      width: 80%;
   }
}
@media (max-width: 550px){
   #singleDetails{
      width: 90%;
   }
}
@media (max-width: 350px){
   #singleDetails{
      width: 100%;
   }
}